[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
build = "*"
sphinx = "*"
wheel = "*"
bindep = "*"
isort = "*"
tox = "*"
hg = "*"
mercurial = "*"
twine = "*"
flawfinder = "*"

[scripts]
check-env = "bindep"
clean = "rm -rf build/ dist/ pki/ python_nss.egg-info/"
build = "python setup.py bdist_wheel --universal"
format = "isort . && black **/*.py"
